<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://instagram.fsjk4-1.fna.fbcdn.net/v/t51.2885-19/72484528_426667554703321_4016519888980934656_n.jpg?stp=dst-jpg_s150x150&_nc_ht=instagram.fsjk4-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=EWKzi_2klGAAX9DwaC_&edm=ACWDqb8BAAAA&ccb=7-5&oh=00_AT-6LjQcge_hd_UeEDxVtkFExJuXJUxI3cihk0_f89e-qA&oe=6339935A&_nc_sid=1527a3" alt="">


</ion-content>
